player-connection-mode=Listen
player-connection-guid=1940999356
player-connection-debug=1
player-connection-project-name=CSharpCompiler
player-connection-wait-timeout=-1
player-connection-ip=10.245.199.190
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
